.input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block {
    margin-right: 15px;
}

.container {
    display: flex;
    justify-content: center;
}


#konteineris > p {
    margin: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> parent of 37028a0 (Added color function)
