.input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block {
    margin-right: 15px;
}

#color--checkbox {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
}


#konteineris > p {
    margin: 0;
    /* color: blueviolet; */
}
